

<h1>Welcome, <%= current_user.username.capitalize %>!</h1><br>
<% @tweets.each do |t| %>
<%= t.content %><br>
<% end %>

<a href="/tweets/new">Create a Tweet</a><br><br>
<a href="/logout" value="submit">Logout</a>
